@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
background-color: hsl(233, 47%, 7%);
display: flex;
padding: 340px 0 0 525px;
position: absolute;
}

.card{
    background-color: hsl(244, 38%, 16%);
    width: 1350px;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 225px;
    word-spacing: 3px;
    
}

h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 35px;
    margin-top: 0px;
}

.mot{
    font-family: 'Inter', sans-serif;
    color: hsl(277, 64%, 61%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

h2{
    font-family: 'Inter', sans-serif;
    color: white;
}

.img{
    width: 686px;
    height: 587px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: hsl(277, 64%, 61%);
    opacity: 50%;
    filter: opacity(50px);
}

ul{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.texte{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;

}

.cardtext{
    padding-left: 70px;
    padding-top: 108px;
    position: relative;
    left: 39px;
    
}

ul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}